name: Continuos Testing

on: [push, pull_request]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository contents
      uses: actions/checkout@v6

    - name: Latex compiler
      uses: Jatus93/Latex-multicompiler@master
      with:
        path_to_list: .fileToCompile
        artifact: true

    - name: Spell Check
      uses: Jatus93/spellCheck@master
      with:
        directory: ./Documents
        languages: "en_GB;en_US;italiano"

    - name: Gulpease
      uses: Jatus93/GulpeaseAction@master
      with:
        directory: ./Documents

    - name: upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: Documents
        path: ./Documents
